button {
    width: 70px;
    height: 60px;
    border-radius: 12px;
    border-width: 2px;
    font-size: 200%;
}

.operator {
    background: orange;
}

.text_field{
    width: 280px;
    height: 60px;
    font-size: 200%;
    border-radius: 10px;
    margin-left: 4px;
}

.equals{
    background: orange;
    width: 292px;
    height: 60px;
    border-radius: 10px;
    border-width: 2px;
    margin-left: 3px;
}

button:hover{
    border-radius: 12px;
    border-width: 3px;
    border-color: gray;
}
